@import 'common.scss';


.wrap {
    background-color: $color-main;
    min-height: 100vh;
    display :flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow-x: hidden;
    @include pc {
        max-width: 1980px;
        min-width: calc(1100px + 9rem);
        margin: auto;
        overflow-x: auto;
    }

}

.isOpen {
    position: fixed;
}

.inner {
    padding:$padding-container-sp;
    margin-bottom: 3rem;
    @include pc {
        padding: $padding-container;
    }
}

.main {
    margin-bottom: 3rem;
}

@include pc {
    .headerArea{
        display: flex;
        min-width: $width-container;
        justify-content: space-between;
    }
}


