@import 'common.scss';

.mv {
    height: 25vh;
    min-height: 160px;
    background-image: url('/img/bee_menu-min.jpg');
    background-size:cover;
    background-position: center;
    position: relative;
    border-top: solid 1px $color-sub;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-main;
        opacity: 0.35;
        z-index: 0;
    }
}

.section {
    &+&{
        margin-top: 4.5rem;
    }
    @include pc {
        &+&{
            margin-top: 9rem;
        }
    };
}

.heading {
    font-size: $text-largest-sp;
    text-align: center;
    margin-top: 2rem;
    @include pc {
        font-size:$text-largest;
    }
}

.subHeading {
    font-size: $text-larger-sp;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before{
        content: '';
        width:2rem;
        height: 1px;
        background-color: #fff;
        display: block;
        margin-right: 1rem;
    }
    &::after{
        content: '';
        width:2rem;
        height: 1px;
        background-color: #fff;
        display: block;
        margin-left: 1rem;
    }
}

.lead {
    margin-top: 2rem;
    @include pc{
        text-align: center;
    };
}

.attention{
    margin-top: 1rem;
    @include  pc {
        width: 60rem;
        margin:1.5rem auto 0;
        text-align: center;
    };
}

.table{
    margin-top: 4.5em;
    border: solid thin #fff;
    padding: 1rem;
    position: relative;
    padding-top: 5rem;
    &_head{
        padding: 0.5rem 2rem;
        background-color: $color-main;
        text-align: center;
        position: absolute;
        width: 65vw;
        top: -3rem;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        & > h3{
            font-size: $text-large-sp;
        }
        & > p {
            font-size: $text-small-sp;
            span{
                display: inline-block;
            }
        }
    }
    &_head_2 {
        padding: 0.5rem 2rem;
        background-color: $color-main;
        text-align: center;
        position: absolute;
        width: 65vw;
        top: -2rem;
        left: 50%;
        transform: translateX(-50%);
        margin: auto;
        & > h3{
            font-size: $text-large-sp;
        }
        & > p {
            font-size: $text-small-sp;
            span{
                display: inline-block;
            }
        }
    }
    &_category{
        display: none;
    }
    &_item{
        margin-top: 2rem;
        dt{
            border-bottom: dotted thin #fff;
            padding-bottom: 0.75rem;
            margin:0 auto 0.75rem;
            width: 95%;
            @include  pc {
                width: 100%;
                margin: 0;
                padding:0;
                border: 0;
            };
        }
    }
    &_item_2 {
        dt{
            border-bottom: dotted thin #fff;
            padding-bottom: 0.75rem;
            margin:0 auto 0.75rem;
            width: 95%;
            @include  pc {
                width: 100%;
                margin: 0;
                padding:0;
                border: 0;
            };
        }
    }
    @include pc{
        margin-top: 10rem;
        padding:7rem ;
        &_head,
        &_head_2{
            width: auto;
            & > h3{
                font-size: $text-larger;
            }
            & > p {
                font-size: $text-normal;
                span{
                    display: inline-block;
                }
            }
            & + p {
                width: 60em;
                margin: auto;
            }
        }
        &_head_2{
            top: -3rem;
        }
        &_head_2 + .table_category {
            margin-top: 0;
        }
        &_category{
            display: block;
            margin: 6rem 0 1.5rem;
            display: flex;
            font-weight: 700;
            color: $color-sub;
            border-bottom: solid thin ;
            padding-right: 2rem;
            &_detail{
                width: 45%;
            }
            &_pay1,
            &_pay2{
                width: 20%;
            }
        }
        &_item {
            margin-top: 0rem;
        }
    };
}

.menuItem{
    & + & {
        margin-top: 4rem;
    }
    &_detail{
        margin-bottom: 1rem;
    }
    &_pay,
    &_time,
    &_week{
        & > span {
            color:$color-sub;
            font-weight: 500;
            margin-right: 1.5rem;
            @include pc {
                display: none;
            };
        }
    }
    @include pc{
        display: flex;
        dt{
            width: 17%;
        }
        dt.menuItem_title_long{
            width: 44.5%;
        }
        dt.menuItem_title_etc{
            margin-right: 10rem;
        }
        dd{
            padding-right: 1rem;
        }
        &_detail{
            margin-bottom: 0;
            width: 28%;
        }
        &_pay{
            width: 20%;
        }
        &_week,
        &_time{
            width: 12%;
        }
        &_time{
            justify-content: space-between;
        }
        &+& {
            margin-top: 1.5rem;
            padding-top: 1.5rem;
            border-top: dotted thin;
        }
    };
}

.keyword{
    margin: 3rem 0;
    & > div + div {
        margin-top: 1rem;
    }
    dt{
        position: relative;
        display: flex;
        align-items: center;
        &::before{
            content: '';
            border-radius: 50%;
            background-color: $color-sub;
            width: 0.75em;
            height: 0.75em;
            display: block;
            left:0;
            top: 50%;
            margin-right: 0.5rem;
            transform: translateY(-5%);
        }
    }
    @include pc{
        margin-top: 5rem;
        & > div {
            display: flex;
        }
        & > div + div {
            margin-top: 1rem;
            padding-top: 1rem;
            border-top: solid thin;
        }
        dt {
            min-width:15rem;
        }
    };
}

.removal{
    &_notice{
        font-weight: 700;
        margin-top: 1.5rem;
    }
    @include pc{
        text-align: center;
        &_notice{
            font-size: $text-large;
        }
    };
}

@include pc{
    .contents{
        width: $width-container;
        margin:  auto ;
    }
};
