@import 'common.scss';

@include pc{
  .contents{
    width: $width-container;
    margin:  auto ;
  }
};

.heading {
  font-family: $font-mincho;
  font-size: $text-largest-sp;
  text-align: center;
  margin-top: 2rem;
  @include pc {
    font-size:$text-largest;
  }
}

.subHeading {
  font-family: $font-mincho;
  font-size:$text-large-sp;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before{
    content: '';
    width:2rem;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-right: 1rem;
  }
  &::after{
    content: '';
    width:2rem;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-left: 1rem;
  }
  @include pc{
    font-size: $text-larger;
    margin-bottom: 3rem;
  };
}

.section {
  margin-top: 5rem;
  @include pc{
    margin: 7rem auto 0;
    width: 850px;
  }
}


.headerCopy {
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
  & > p:first-of-type{
    color: $color-sub;
    text-decoration: underline;
    font-size: $text-large-sp;
    @include pc {
      font-size: $text-large;
    }
  }
}
.headerCopyItem {
  position: relative;
  margin-top: 1.5rem;
  text-align: left;
  @include pc {
    font-size: $text-large;
    text-align: center;
  }
  & + p {
    margin-top: 1.5rem;
  }
}

.message {
  margin-top: 3rem;
  padding:1rem;
  p + p {
    margin-top: 1rem;
  }
  @include pc {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:none;
    padding: 0;
     & > p {
       width: 850px;
       margin-top: 2rem;
     }
  }
  img {
    margin-bottom: 1rem;
    width: 100%;
    @include pc {
      width: 850px;
    }
  }
  p > span {
    display: inline-block;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.15em;
    @include pc {
      display: block;
    }
  }
  p > span:nth-of-type(2){
    margin-bottom: 1rem;
  }
}

.detail{
  & > dt{
    font-size: 1.15em;
    margin-bottom: 1.5rem;
  }
  & > dd + dt {
    margin-top: 3rem;
  }
  & + .detail {
    margin-top: 5rem;
  }
}

.messageText {
  color:$color-sub;
  font-size: 1.2em;
  margin-bottom: 0.75rem;
  margin-top: 3rem;
  padding-bottom: 0.75rem;
  @include pc {
    font-size: 1.4em;
  }
}

.description{
  margin-top: 5rem;
  & > h3 {
    color:$color-sub;
    font-size: 1.2em;
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: solid thin;
  }
  .descriptionContent p + p {
    margin-top: 2rem;
  }
  .descriptionContent > img {
    margin-bottom: 1rem;
  }
  @include pc{
    margin-top: 7rem;
    .descriptionContent{
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      align-items: flex-start;
    }
    & > h3 {
      font-size: 1.4em;
    }
    .descriptionContent > img {
      width: 50%;
      margin: 0;
      order:2
    }
    .descriptionTextArea {
      width: calc(50% - 3rem);
      order:1;
    }
  }
}


.descriptionInner {
  & > dd + dt {
    margin-top: 1.5rem;
  }
  & > .icon {
    margin-right: 0.5rem;
  }
  .withIcon {
    margin-top: 0.5rem;
  }
}

.descriptionInnerHeading {
  font-size: 1.4rem;
  margin-top: 1.5rem;
  position: relative;
  padding-left: 1.2em;
  &::before{
    content: '■';
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.icon {
  color: #fff;
  background-color: #c0a47f;
  font-weight: bold;
  padding: 0.25rem 0.75rem;
  border-radius: 50px;
}

.comment {
  color:$color-sub;
  font-weight: bold;
}

.btn {
  margin-top: 1.5rem;
  @include pc {
    width:350px;
    margin: 4rem auto 0;
  }
}

.checkedList {
  margin-top: 0.5em;
  &  > li {
    font-weight: bold;
    position: relative;
    padding-left: 2rem;
    &::before{
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      width: 12px;
      height: 7px;
      border-left: 3px solid $color-sub;
      border-bottom: 3px solid $color-sub;
      transform: rotate(-45deg);
    }
  }
  & > li + li {
    margin-top: 0.25rem;
  }
  p + & {
    margin-top: 1rem;
  }
  @include pc {
    & > li + li {
      margin-top: 0.5rem;
    }
  }
}

.itemList {
  margin-top: 0.5rem;
  li{
    padding-left: 1em;
    position: relative;
  }
  & > li::before{
    content: '・';
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
  }
  & > li + li {
    margin-top: 0.25rem;
  }
}

.star {
  position: relative;
  color: $color-sub;
  &::before{
    content: '★';
    display: inline-block;
    margin-right: 5px;
  }
}

.recruitDetail {
  & > dd + dt {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: dotted thin;
  }
  & > dd > p + p {
    margin-top: 1rem;
  }
  .comment {
    margin-top: 1rem;
  }
  @include pc {
    & > dd + dt {
        margin-top: 1.25rem;
        padding-top: 1.25rem;
    }
    }
}

.companyDetail {
  & > div + div {
    margin-top: 1rem;
  }
  dt {
    position: relative;
    padding-left: 1.5rem;
  }
  dt::before{
    content: '■';
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.ctaBox {
  border:solid thin;
  padding: 1rem;
  & > dt {
    font-size: 1.4em;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  & > .btn {
    margin: 3rem 0 0;
  }
  & > .tel {
    border-top: solid thin;
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    a {
      text-decoration: underline;
      font-size: 1.3em;
      margin: 0.5rem 0;
      display: inline-block;
      font-weight: bold;
    }
  }
  @include pc {
    width: 850px;
    margin: auto;
    padding: 2rem;
    text-align: center;
    .btn{
      width: 350px;
      margin:3rem auto 0;
    }
  }
}

.ctaBoxWrapper {
  margin-top: 2rem;
  @include pc {
    margin-top: 3.5rem;
  }
}

.spNone{
  display: none;
  @include pc{
    display: block;
  }
}
.pcNone{
  display: block;
  @include pc{
    display: none;
  }
}

.voice {
  font-weight: bold;
  margin-bottom: 1rem;
  @include pc{
    font-size: 1.4em;
    margin-bottom: 1.5rem;
  }


}