@import 'common.scss';

@include pc{
  .contents{
    width: $width-container;
    margin:  auto ;
  }
};

.heading {
  font-family: $font-mincho;
  font-size: $text-largest-sp;
  text-align: center;
  margin-top: 2rem;
  @include pc {
    font-size:$text-largest;
  }
}

.subHeading {
  font-family: $font-mincho;
  font-size:$text-large-sp;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before{
    content: '';
    width:2rem;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-right: 1rem;
  }
  &::after{
    content: '';
    width:2rem;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-left: 1rem;
  }
  @include pc{
    font-size: $text-larger;
  };
}

.section {
  margin-top: 5rem;
}


.headerCopy {
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
  & > p:first-of-type{
    color: $color-sub;

    text-decoration: underline;
    font-size: $text-large-sp;
  }
}
.headerCopyItem {
  position: relative;
  margin-top: 0.5rem;
  text-align: left;
  padding-left: 1.5rem;
  &::before{
    content: '■';
    color: $color-sub;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.message {
  margin-top: 3rem;
  img {
    margin-bottom: 1rem;
  }
  p{
    border:solid thin;
    padding:1rem;
    margin-top: 1rem;
  }
  p > span {
    display: inline-block;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.15em;
  }
  p > span:nth-of-type(2){
    margin-bottom: 1rem;
  }
}

.detail{
  & > dt{
    font-size: 1.15em;
    margin-bottom: 1.5rem;
  }
  & > dd + dt {
    margin-top: 3rem;
  }
  & + .detail {
    margin-top: 5rem;
  }
}

.description{
  margin-top: 5rem;
  & > h3 {
    color:$color-sub;
    font-size: 1.2em;
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: solid thin;
  }
  & > p + p {
    margin-top: 2rem;
  }
}

.descriptionInner {
  & > dd + dt {
    margin-top: 1.5rem;
  }
}

.btn {
  margin-top: 1.5rem;
}

.checkedList {
  margin-top: 0.5em;
  &  > li {
    font-weight: bold;
    position: relative;
    padding-left: 2rem;
    &::before{
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      width: 12px;
      height: 7px;
      border-left: 3px solid $color-sub;
      border-bottom: 3px solid $color-sub;
      transform: rotate(-45deg);
    }
  }
  & > li + li {
    margin-top: 0.25rem;
  }
}