@import 'common.scss';


.mv {
   height: 70vh;
   min-height: 460px;
   background-image: url('/img/bee_top_image-min.jpg');
   background-size:cover;
   background-position: center;
   position: relative;
   border-top: solid 1px $color-sub;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   &::before{
       content: '';
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       left: 0;
       background-color: $color-main;
       opacity: 0.35;
       z-index: 0;
   }
   &_noWebp {
    background-image: url('/img/bee_top_image-min.jpg');
   }
   &_webp {
        background-image: url('/img/webp/bee_top_image-min.webp');
   }
}

.mv_text {
    z-index: 10;
    text-align: center;
    font-size: $text-medium-sp;
    position: relative;
    margin-bottom:2rem ;
    font-weight: bold;
}

.mv_logo {
    width: 80vw;
    height: auto;
    z-index: 10;
    position: relative;
    &_text{
        z-index: 10;
        position: relative;
        margin-bottom: 0.5rem;
    }
    &_sub {
        font-size: $text-medium-sp;
        color:#fff;
        z-index: 10;
    }
}


.section {
    &+&{
        margin-top: 4rem;
    }
}

.contents{
    margin-top: 3rem;
}

.heading {
    font-size: $text-largest-sp;
    font-family: $font-mincho;
    text-align: center;
}

.lead {
    text-align: center;
    font-family: $font-mincho;
    margin-top: 0.25rem;
    font-weight: 700;
}

.br {
    display: inline-block;
}

.news {
    margin-bottom: 2rem;
    padding: 1rem;
    border: solid thin;
    dt {
        font-size: 20px;
        margin-bottom: 0.5rem;
        text-align: center;
        font-family: $font-mincho;
    }
    li + li {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: dotted thin;
    }
    li span {
        min-width: 8rem;
        display: block;
        @include pc {
            display: inline-block;
        }
    }
    li a{
        text-decoration: underline;
        &::after{
            content: '';
            border-top: solid 0.5rem transparent;
            border-bottom: solid 0.5rem transparent;
            border-left: solid 0.5rem #fff;
            display: inline-block;
            margin-left: 0.75rem;
        }
    }
}

.concept_text {
    margin-top: 2rem;
    &+& {
        margin-top: 1rem;;
    }
}

.merit {
    margin-top: 5rem;
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 20rem;
        display: block;
    }
    &::after{
        content: '';
        width: 75%;
        height: 4px;
        background-color: $color-sub;
        position: absolute;
        top: calc(20rem - 4px);
        left: 0;
        z-index: 10;
    }
    &_title{
        font-size: $text-medium-sp;
        font-family: $font-mincho;
        margin-top: 1.5rem;
        display: inline-block;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        position: relative;
        width: 100%;
        &::after{
            content: '';
            width:4rem;
            height: 1px;
            background-color: #fff;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
        }
    }
    &_num{
        font-size:4.75rem;
        font-family: $font-mincho;
        color: $color-sub;
        position: absolute;
        top: -3.75rem;
        left: 50%;
        font-weight: 500;
        transform: translateX(-50%);
    }
    &_link{
        text-align: right;
        > a{
            font-weight: 700;
            font-size: 16px;
            padding-right: 2.5rem;
            text-decoration: underline ;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                border-left:solid 10px ;
                border-top:solid 7px transparent;
                border-bottom:solid 7px transparent;
                right: 0.5rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &_01::before{
        background: url('/img/webp/bee_room_image-min.webp') no-repeat center 90% / cover;
    }
    &_01_noWebp::before{
        background: url('/img/bee_room_image-min.jpg') no-repeat center 90% / cover;
    }
    &_02::before{
        background: url('/img/webp/bee_style-min.webp') no-repeat center 0 / cover;
    }
    &_02_noWebp::before{
        background: url('/img/bee_style-min.jpg') no-repeat center 0 / cover;
    }
    &_03::before{
        background: url('/img/webp/bee_man-min.webp') no-repeat center 0 / cover;
    }
    &_03_noWebp::before{
        background: url('/img/bee_man-min.jpg') no-repeat center 0 / cover;
    }
    &_04::before{
        background: url('/img/webp/bee_headspa-min.webp') no-repeat center / cover;
    }
    &_04_noWebp::before{
        background: url('/img/bee_headspa-min.jpg') no-repeat center / cover;
    }
    &_05::before{
        background: url('/img/webp/bee_removal-min.webp') no-repeat center 100% / cover;
    }
    &_05_noWebp::before{
        background: url('/img/bee_removal-min.jpg') no-repeat center 100% / cover;
    }
}

.info{
    margin-top: 3rem;
    & > li + li {
        margin-top: 4rem;
    }
}

.linkBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    &::before{
        content:'';
        width:100%;
        height: 18rem;
        display: block;
        border-bottom: solid 2px $color-sub;
        margin-bottom: 1rem;
    }
    &_menu::before{
        background: url('/img/webp/bee_menu-min.webp') no-repeat center / cover;
    }
    &_menu_noWebp::before{
        background: url('/img/bee_menu-min.jpg') no-repeat center / cover;
    }
    &_salon::before{
        background: url('/img/webp/bee_top_image-min.webp') no-repeat center / cover;
    }
    &_salon_noWebp::before{
        background: url('/img/bee_top_image-min.jpg') no-repeat center / cover;
    }
    &_staff::before{
        background: url('/img/webp/bee_matsui-min.webp') no-repeat center 15% / cover;
    }
    &_staff_noWebp::before{
        background: url('/img/bee_matsui-min.jpg') no-repeat center 15% / cover;
    }
    &_faq::before{
        background: url('/img/webp/bee_image_1-min.webp') no-repeat center 70% / cover;
    }
    &_faq_noWebp::before{
        background: url('/img/bee_image_1-min.jpg') no-repeat center 70% / cover;
    }
    &_text{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: calc(60% - 10px);
        margin-right: 10px;
    }
    &_subText {
        font-size: 12px;
    }
    &_title{
        font-family: $font-mincho;
        font-size: $text-larger-sp;
        font-weight: bold;
        margin-right: 1rem;
    }
    &_link{
        width:40%;
        border-radius: 999px;
        border:solid thin;
        text-align: center;
        position: relative;
        font-weight: bold;
        &::after{
            content:'';
            border-top: solid 6px transparent;
            border-bottom: solid 6px transparent;
            border-left: solid 6px;
            position: absolute;
            right: 1.0rem;
            top: 50%;
            transform: translateY(-50%);
        }
        & > a {
            display: block;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            font-size: 14px;
        }
    }
}


@include pc {
    .mv{
        border-top-width: 3px;
        height: 65vh;
        min-height: 500px;
        &_text{
            font-size: 3.6rem;
            margin-bottom: 6rem;
        }
        &_logo_text{
            font-size: 2.5rem;
        }
        &_logo{
            width: 35%;
        }
    }

    .contents{
        width: 85vw;
        max-width: 1500px;
        margin: 4rem auto 0;
    }

    .section {
        &+&{
            margin-top: 7rem;
        }
    }

    .section  + .information {
        margin-top: 14rem;
    }

    .heading{
        font-size: $text-largest;
    }

    .lead{
        font-size: $text-medium;
    }

    .news {
        margin:auto;
        width:1200px;
        display: flex;
        padding: 1.5rem;
        margin-bottom: 4rem;
        dt{
            line-height: 1;
            width: 10rem;
        }
        dd{
            width: calc(100% - 10rem);
            font-size: 16px;
        }
    }

    .concept {
        padding: 0 0 3rem;
        br:nth-child(1){
            display: none;
        }
        &_text{
            width: 65rem;
            margin:4rem auto 0;
        }
    }

    .merit{
        margin-top: 6rem;
        align-items: center;
        display: flex;
        &+&{
            margin-top: 9rem;
        }
        &::after{
            content: none;
        }
        &::before{
            width: 55%;
            height: 500px;
        }
        &_textArea{
            width: 45%;
            padding:2rem 4rem 4rem;
            background-color: $color-main;
            transform: translateX(-6rem);
            position: relative;
            top: -2rem;
            &::before{
                content: '';
                width: 6px;
                height: calc(100% - 5rem);
                background-color: $color-sub;
                position: absolute;
                top: 5rem;
                left: -6px;
            }
            &::after{
                content: '';
                height: 6px;
                width: calc(70% - 5rem);
                background-color: $color-sub;
                position: absolute;
                left: -6px;
                bottom: -6px;
            }
        }
        &_title {
            font-size: $text-larger;
            white-space: pre-wrap;
            margin-bottom: 3rem;
            padding-bottom: 3rem;
            &::after{
                left: 3rem;
            }
        }
        &_num{
            left: 6.5rem;
            font-size: 55px;
            top: -5rem;
        }
        &_02,
        &_02_noWebp,
        &_04,
        &_04_noWebp{
            flex-direction: row-reverse;
            right: -5rem;
            .merit_textArea{
                transform: translateX(6rem);
                &::before{
                    left: auto;
                    right: -6px;
                }
                &::after{
                    left: auto;
                    right: -6px;
                }
            }
        }
        &_01,
        &_01_noWebp,
        &_03,
        &_03_noWebp,
        &_05,
        &_05_noWebp {
            left: -5rem;
        }
    }

    .information{
        width:1200px;
        margin:auto;
    }

    .info{
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        & > li + li {
            margin-top: 0;
        }
        & > li {
            width: 45%;
        }
        & > li:nth-of-type(n+3){
            margin-top: 8rem;
        }
    }

    .linkBox{
        &::before{
            height: 250px;
        }
        &_title{
            font-size: 4rem;
        }
        &_link{
            transition: .3s;
            font-size: $text-medium;
            &:hover{
                background-color: $color-sub;
                color: #fff;
                border: none;
            }
            & > a {
                display: block;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }
    }

}
